*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: #222222;
}

@font-face {
    font-family: font;
    src: url(./Gravitype\ -\ Minigap.otf);
}

.main-page{
width: 100%;
background-image:url("../html/images/Hero_BG.jpg") ;
background-repeat: no-repeat;
background-size: cover;
height:100vh;
font-family:font ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 1rem 4rem;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
}
.contact-btn a{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    color: #fff;
    font-family: 700;
}
.contact-btn a:hover{
    background-color: #f2fd84;
    border: none;
    color: #000;
    font-weight: 700;
}
.gym-logo{
    color: #f2fd84;
}

/* hero section css start here*/

.hero-section{
     padding: 1rem 4rem;
}
.home-text-and-button{
    padding: 5rem 0 0 0;
}
.home-h1{
    font-size: 5rem;
    color: #fff;
}
.first-span{
    color: #f2fd84;
}
.home-pasag{
    font-size: 1rem;
    width: 40%;
    color: #fff;
    padding: 1rem 0;
}
.two-home-btn{
    padding: 1.5rem 0;
}
.home-btn{
    padding: 1rem 3rem;
    font-family: font;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.home-btn:nth-child(1){
    background-color: #f2fd84;
    border: 1px solid #f2fd84;
}
.home-btn:nth-child(1):hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.home-btn:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.home-btn:nth-child(2):hover{
    background-color: #f2fd84;
    border: 1px solid #fff;
    color: #000000;
}

.four-gym-box{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border: 1px solid;
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) 1;
    background: rgba(255, 255, 255, 0.03);
    padding: 35px 40px;
    gap: 25px;
}

.four-gym-box h2{
    color: #fff;
    font-size: 2rem;
    padding: 0.4rem 0;
}
.four-gym-box .box-title{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.2rem;
}
.box-desc{
    color: #dcdcdc;
}

/*testomonials css start here*/
.testomonials{
    font-family:font ;
    padding: 4rem 4rem;
}
.heading-and-btn{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 3rem 0 0 0;
}
.testomonials-h1{
    font-size:3.5rem ;
    color: #fff;
}

.testomonials-btn{
     padding: 1rem 3rem;
    font-family: font;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color:#f2fd84 ;
    font-weight:700;
    border: 1px solid #f2fd84;
}
.testomonials-btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight:700;
}

.two-box-test{
    display: flex;
   padding: 2rem 0 0 0;
    gap: 3rem;
}
.first-box-test{
    border: 1px solid red;
     border: 1px solid rgb(110, 110, 110);
     display: flex;
}
.details-test{
    padding: 3rem;
    
}
.testomonials-details{
    color: #fff;
    line-height: 1.5rem;
    
    width: 90%;
}
.all-star{
    padding: 1rem 0;
}
.ri-star-fill{
    color: #f2fd84;
}
.review-name{
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0;
}


/* price section css start here */
.price-section{
    
    padding: 1rem 4rem;
    font-family: font;
}
.price-main-text{
    
    text-align: center;
}
.price-heading-text{
    color: #fff;
    font-size: 3.5rem;
}
.price-pasag{
    color: #dcdcdc;
    font-size: 1rem;
    padding: 1rem 0;
}
.three-price-box{
  
    display: flex;
    justify-content: space-between;
    padding:1.5rem 0

}
.first-box{
    
    background-color: #2d2d2d;
    padding:2rem 4rem;
    border-radius: 0.5rem;
    
}
.plan-name{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
   
    text-align: center;
}
.plan-price{
    font-size: 3.5rem;
    color: #f2fd84;
    font-weight: 700;
    padding: 1.5rem 0;
}
.price-span{
    font-size: 2rem;
    
}

.overlay-text{
    background-color: #3f3f3f;
    color: #dcdcdc;
    font-size: 1rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    border-radius: 0.5rem;

}
.order-list-price{
    padding-bottom: 2rem;
}
.order-list-price .list-item-price{
    list-style-type: none;
    padding: 0.6rem 0;
    font-size: 1rem;
    color: #fff;
}

.price-btn{
    font-size: 1.2rem;
    font-family: font;
    background-color: #f2fd84;
    padding: 1rem 5rem;
    border: 1px solid #f2fd84;
    cursor: pointer;
    font-weight: 600;
    
}
.price-btn:hover{
    background-color: transparent;
    color: #fff;
}